@import 'variables';
@import 'config';

.header-title {
  background-color: rgba(133, 133, 133, 0.2);
  line-height: 30px;

  .primary {
    justify-content: center;
    text-align: center;
    
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
      text-align: left;

    }
  }

  .secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 30px;
    color: rgba(37, 36, 40, 1);
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      line-height: 72px;
    }
  }

  h2 {
    line-height: 72px;
  }
}