@import 'variables';

.eviction-resources-table {
  .resource-filter {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
    
    &.active {
      border: 1px solid #000;
    }
    &:hover {
      border: 1px solid #ffd80d;
    }
  }
  .row {
    margin: 0;
  }
  .row > div {
    padding: 5px;
  } 

  .name {
    font-weight: bold;
  }
  .website a {
    word-break: break-all;
    color: $gray-500;
  }
  .phone {
    white-space: nowrap;
  }
}