.titled-panel {
  background-color: #fff;

  .content {
    padding: 10px;
  }

  .small-title {
    background-color: #dedede;
    color: #000;
    text-shadow: 0 1px #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}