@import 'variables';

.unit-detail-available {
  height: 100%;
  padding: 10px 0;
  
  h4 {
    background-color: $yellow;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}